<div class="well">
	<%= form_for(@post) do |f| %>
	<div class="form-group">
		<%= f.file_field :image %>
	</div>
	<div class="form-group">
		<%= f.label :remote_image_url, "or image URL" %>
    <%= f.text_field :remote_image_url, placeholder: "http://", :class => "form-control"%>
	</div>
	<div class="form-group">
		<%= f.text_field :title, placeholder: "title", :class => "form-control"%>
	</div>
	<div class="form-group">
		<%= f.text_area :body, placeholder: "title", :class => "form-control"%>
	</div>
	<%= f.submit "Submit", :class => 'btn btn-success' %>
	<% end %>
</div>
