<div class="row">
  <div class="large-5 column right">
    <a href=<%= post_path(@posts[0]) %> class="th">
      <%= image_tag @posts[0].image_url().to_s %>
      <h4 class="text-center"><%= @posts[0].title %></h4>
      <h6><%= @posts[0].body %></h6>
    </a>
  </div>
  <div class="large-7 column left">
    <ul class="small-block-grid-2 text-center">
      <% @posts[1..-1].each do |post| %>
        <li>
          <a href=<%= post_path(post) %> class="th">
            <%= image_tag post.image_url().to_s %>
            <h6><%= post.title %></h6>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
