<div class="row">
  <div class="large-5 column">
    <% if @posts[0] %>
      <div class="th">
        <%= image_tag @posts[0].image_url().to_s %>
        <h4 class="text-center"><%= link_to @posts[0].title, post_path(@posts[0]) %></h4>
        <h6><%= truncate_html(markdown(@posts[0].body),  length: 700) %></h6>
      </div>
    <% end %>
  </div>
  <div class="large-7 column">
    <ul class="small-block-grid-2 text-center">
      <% if @posts[1..-1] %>
        <% @posts[1..-1].each do |post| %>
          <li>
            <a href=<%= post_path(post) %> class="th">
              <%= image_tag post.image_url.to_s %>
              <h6><%= post.title %></h6>
              <% if current_user.present? %>
                <% if post.published? == false && policy(post).publish?%>
                  <%= link_to image_tag("publish.png"), post_path(post, post: { published: true }), method: :put, data: { confirm: 'Are you sure you want to publish?'}%>
                <% end %>
                <% if post.published? && policy(post).publish?%>
                  <%= link_to image_tag("unpublish.png"), post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'} %>
                <% end %>
                <%= link_to image_tag("edit.png"), edit_post_path(post) %>
                <%= link_to image_tag("delete.png"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="text-right">
    <% if current_user.present? %>
      <h6><%= link_to image_tag("new.png") + "New Post", new_post_path %></h6>
    <% end %>
    <h4><small>Popular Tags: <%= raw policy_scope(Post).tag_counts_on(:tags).order('count desc').limit(10).map { |t| link_to t, tag_path(t.to_s) }.join(', ') %></small></h4>
  </div>
</div>
