<div class="tag-list">
  <h4><small><%= raw policy_scope(Post).tag_counts_on(:tags).order('count desc').limit(10).map { |t| link_to t, tag_path(t.to_s) }.join(', ') %></small></h4>
</div>
<div class="row">
  <div class="large-12 column">
    <ul class="small-block-grid-1 large-block-grid-2">
      <% @posts.each do |post| %>
      <li>
        <a href=<%= post_path(post) %> class="th">
          <%= image_tag post.image_url(:cropped).to_s %>
          <div class="article-title">
            <h4><small><%= l post.created_at, format: :admin %></small></h4>
            <h5 class="text-center"><%= post.title %></h5>
          </div>
          <% if post.published? == false && policy(post).publish?%>
          <%= link_to image_tag("publish.png"), post_path(post, post: { published: true }), method: :put, data: { confirm: 'Are you sure you want to publish?'}%>
          <% end %>
          <% if post.published? && policy(post).publish?%>
          <%= link_to image_tag("unpublish.png"), post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'} %>
          <% end %>
          <% if policy(post).update? %>
          <%= link_to image_tag("edit.png"), edit_post_path(post) %>
          <% end %>
          <% if policy(post).destroy? %>
          <%= link_to image_tag("delete.png"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="text-center">
    <%= foundation_paginate @posts %>
  </div>
</div>
<% if policy(@posts).create? %>
<h6><%= link_to image_tag("new.png") + "New Post", new_post_path %></h6>
<% end %>
