<div class="off-canvas-wrap sticky" data-options="sticky_on: large">
  <div class="inner-wrap">
    <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li class="active"><a href="/">Home</a></li>
        <% if current_user.present? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </aside>

    <section class="main-section">
      <header>
        <div class="title-header text-center">
          <h1>Technology, Psychology, Philosophy</h1>
          <h5>Technology with a slice of Psychology and Philosophy</h5>
        </div>
      </header>
      <div class="row padding">
        <% flash.each do |key, value| %>
          <div data-alert class="<%= flash_class(key) %>">
            <%= value %>
            <a href="" class="close">×</a>
          </div>
        <% end %>



        <%= yield %>
      </div>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
