<!DOCTYPE html>
<html>
<head>
  <title>Technology, Psychology, Philosophy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'layouts/nav' %>

<body>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
